@{
    ViewData["Title"] = "Caja | Cerrada";
}

<body>
    <style>
        .control-group {
            display: flex;
            align-items: center;
            width: auto;
        }

        .quantity-input {
            width: 70px;
            text-align: center;
            font-size: 1.2rem;
            padding: 0.3rem;
            margin: 0 5px;
        }
    </style>

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="card-footer text-center">
                    <div class="input-group">
                        <input type="text" placeholder="CÓDIGO DEL PRODUCTO" class="form-control">
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-secondary"><i class="fas fa-search fa-fw"></i></button>
                        </span>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="card-footer text-center p-0 m-0">
                    <small class="d-block" style="font-size: 10px; margin-top: 0;">modo lector QR</small>
                    <div class="input-group justify-content-center p-0 m-0">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="card-footer text-center">
                    <div class="input-group">
                        <input value="Cajero 01" class="form-control" disabled/>
                        <input value="Caja 01" class="form-control" disabled/>
                    </div>
                </div>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Brad Diesel
                                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Call me whenever you can...</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    John Pierce
                                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">I got your message bro</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Nora Silvester
                                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">The subject goes here</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" role="button" id="menuCajaButton">
                    <i class="fas fa-th-large"></i>
                </a>
            </li>

        </ul>
    </nav>

    <div class="row">
        <!-- Productos -->
        <section class="col-lg-7 connectedSortable">
            <!-- Tabs principales -->
            <div class="card card-primary card-tabs" style="margin-bottom: 0;">
                <!-- Se eliminó el margen inferior -->
                <div class="card-header p-0 pt-0">
                    <ul class="nav nav-tabs" id="custom-tabs-left" role="tablist">
                        <li class="pt-3 px-1"><h3 class="card-title">• PRODUCTOS •</h3></li>
                        <li class="nav-item">
                            <a class="nav-link active" id="tab1-left" data-toggle="pill" href="#tab1-left-content" role="tab" aria-controls="tab1-left-content" aria-selected="true">Todos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab2-left" data-toggle="pill" href="#tab2-left-content" role="tab" aria-controls="tab2-left-content" aria-selected="false">Descuento</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <!-- Contenido del primer tab -->
                        <div class="tab-pane fade show active" id="tab1-left-content" role="tabpanel" aria-labelledby="tab1-left">
                            Contenido del Tab 1 en la columna izquierda.
                        </div>
                        <!-- Contenido del segundo tab -->
                        <div class="tab-pane fade" id="tab2-left-content" role="tabpanel" aria-labelledby="tab2-left">
                            Contenido del Tab 2 en la columna izquierda.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Carrito -->
        <section class="col-lg-5 connectedSortable">
            <!-- Tabs secundarios -->
            <div class="card card-secondary card-tabs" style="margin-bottom: 0;">
                <div class="card-header p-0 pt-0">
                    <ul class="nav nav-tabs" id="custom-tabs-right" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab1-right" data-toggle="pill" href="#tab1-right-content" role="tab" aria-controls="tab1-right-content" aria-selected="true">Carrito</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab2-right" data-toggle="pill" href="#tab2-right-content" role="tab" aria-controls="tab2-right-content" aria-selected="false">Pendientes</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <!-- Contenido del primer tab en la columna derecha (Carrito) -->
                        <div class="tab-pane fade show active" id="tab1-right-content" role="tabpanel" aria-labelledby="tab1-right" style="max-height: 400px; overflow-y: auto;">
                            <!-- Item -->
                            @for (int i = 0; i < 7; i++)
                            {
                                <div class="product-item d-flex align-items-center mb-3">
                                    <img class="img-thumbnail mr-3" style="width: 75px; height: 75px;">
                                    <div style="flex: 1;">
                                        @* <h6 class="mb-0"><strong>Producto de Ejemplo</strong> <span class="badge badge-warning">Editado</span></h6> *@
                                        <p class="mb-1">Descripción breve del producto.</p>
                                        Unidad <input type="number" class="quantity-input" style="width: 90px" placeholder="$25.00" disabled />
                                        Total <input type="number" class="quantity-input" style="width: 90px" placeholder="$25.00" disabled />
                                    </div>
                                    <!-- Contenedor reducido a la derecha -->
                                    <div class="control-group ml-auto">
                                        <button class="btn btn-danger mr-1"><i class="fas fa-eraser"></i></button>
                                        <button class="btn btn-secondary"><i class="fas fa-minus"></i></button>
                                        <input type="number" class="form-control quantity-input" placeholder="1" min="1">
                                        <button class="btn btn-success"><i class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                                <hr class="my-2">
                            }
                        </div>
                        <!-- Contenido del segundo tab en la columna derecha (Pendientes) -->
                        <div class="tab-pane fade" id="tab2-right-content" role="tabpanel" aria-labelledby="tab2-right" style="max-height: 400px; overflow-y: auto;">
                            <!-- Item -->
                            @for (int i = 0; i < 7; i++)
                            {
                                <div class="product-item d-flex align-items-center mb-3">
                                    <img class="img-thumbnail mr-3" style="width: 75px; height: 75px;">
                                    <div style="flex: 1;">
                                        <h6 class="mb-0"><strong>Pedido de ejemplo #@(i + 1)</strong></h6>
                                        <p class="mb-1">Descripción breve del producto más detallada y continúa con una descripción breve del producto más detallada.</p>
                                        <span class="badge badge-warning">Editado</span>
                                        <span class="badge badge-danger">Pendiente</span>
                                        <span class="badge badge-secondary">12:00 Am | Lunes 01/01/20XX</span>
                                    </div>
                                    <!-- Contenedor reducido a la derecha -->
                                    <div class="control-group ml-auto">
                                        <button class="btn btn-danger btn-lg mr-1"><i class="fas fa-minus"></i></button>
                                        <button class="btn btn-primary btn-lg mr-1"><i class="fas fa-eye"></i></button>
                                    </div>
                                </div>
                                <hr class="my-2">
                            }
                        </div>


                        <br />
                        <!-- Resumen de pago -->
                        <div class="card card-info">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mt-3">
                                    <h3>Sub-Total:<strong> $9.99</strong></h3>
                                    <h2><span class="badge badge-secondary">Total:<strong> $19.99</strong></span></h2>
                                </div>
                                <div class="d-flex justify-content-between mb-3">
                                    <a class="btn btn-app bg-danger">
                                        <span class="badge bg-teal">10</span>
                                        <i class="fas fa-trash"></i> Limpiar carro actual
                                    </a>
                                    <a class="btn btn-app bg-info">
                                        <i class="fas fa-tag"></i> Descuentos y deducciones
                                    </a>
                                    <a class="btn btn-app bg-warning">
                                        <i class="fas fa-truck"></i> Envío
                                    </a>
                                    <a class="btn btn-app bg-primary">
                                        <i class="fas fa-save"></i> Guardar el carrito
                                    </a>
                                    <a class="btn btn-app bg-success" style="width: 100%; max-width: 120px;">
                                        <i class="fas fa-dollar-sign"></i> Procesar y Pagar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

<script>
    document.getElementById('menuCajaButton').addEventListener('click', function (event) {
        event.preventDefault();

        Swal.fire({
            title: 'Menú del cajero',
            html: `
                        <div style="text-align: left;">
                            <div class="info-text"><strong>Hora de inicio de la jornada:</strong> 08:00 AM</div>
                            <div class="info-text"><strong>Órdenes realizadas:</strong> 12</div>
                            <div class="info-text"><strong>Órdenes pendientes:</strong> 5</div>
                            <div class="info-text"><strong>Ventas totales:</strong> $500</div>
                            <div class="info-text"><strong>Código de la caja:</strong> C123</div>
                            <div class="info-text"><strong>Nombre del cajero:</strong> Juan Pérez</div>
                            <div class="info-text"><strong>Cantidad de efectivo en la caja:</strong> $300</div>
                        </div>
                        <div class="btn-menu-container">
                            <button id="descargarReporte" class="btn btn-primary btn-menu">Descargar Reporte</button>
                            <button id="verTodasOrdenes" class="btn btn-primary btn-menu">Ver Todas las Órdenes</button>
                            <button id="irALogin" class="btn btn-secondary btn-menu">Cierre de sesión</button>
                            <button id="arqueoCaja" class="btn btn-warning btn-menu">Arqueo</button>
                            <button id="cierreCaja" class="btn btn-danger btn-menu">Cierre de Caja</button>
                        </div>
                    `,
            showCloseButton: true,
            showConfirmButton: false
        });

        // Agregar eventos a los botones
        document.getElementById('descargarReporte').addEventListener('click', function () {
            Swal.fire('Reporte descargado', '', 'success');
        });

        document.getElementById('verTodasOrdenes').addEventListener('click', function () {
            Swal.fire('Mostrando todas las órdenes', '', 'info');
        });

        document.getElementById('arqueoCaja').addEventListener('click', function () {
            Swal.fire('Realizando arqueo de caja...', '', 'warning');
        });

        document.getElementById('cierreCaja').addEventListener('click', function () {
            Swal.fire('Cerrando la caja...', '', 'error');
        });

        document.getElementById('irALogin').addEventListener('click', function () {
            window.location.href = '@Url.Action("Index", "Login")';
        });
    });
</script>