@model ConfigMainModel
@{
    ViewData["Title"] = "Configuración";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let form = document.getElementById("configForm");
            let submitBtn = document.getElementById("saveChangesBtn");

            form.addEventListener("input", function () {
                submitBtn.disabled = false; // Habilita el botón si hay cambios
            });
        });
    </script>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Configuración</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                                <li class="breadcrumb-item active">Configuración</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="container-fluid">
                    <div>
                        <div class="card card-secondary">
                            <div class="card card-default">
                                <div class="card-header">
                                    <h3 class="card-title">Opciones Básicas</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <!-- FORMULARIO -->
                                    <form id="configForm" asp-action="UpdateConfig" method="post">
                                        <div class="row">
                                            <div class="form-group">
                                                <label>Fuente de la Base de datos</label>
                                                <select class="custom-select">
                                                    <option>WooCommerce</option>
                                                    <option disabled="disabled">Sql Server (No Disponible)</option>
                                                    <option disabled="disabled">Wix eCommerce (No Disponible)</option>
                                                    <option disabled="disabled">Adobe Commerce (No Disponible)</option>
                                                    <option disabled="disabled">OpenCart (No Disponible)</option>
                                                    <option disabled="disabled">PrestaShop (No Disponible)</option>
                                                    <option disabled="disabled">Sylius (No Disponible)</option>
                                                    <option disabled="disabled">Shopify (No Disponible)</option>
                                                    <option disabled="disabled">BigCommerce (No Disponible)</option>
                                                    <option disabled="disabled">Ecwid (No Disponible)</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label>Clave del Cliente</label>
                                                <input class="form-control" type="text" asp-for="HostCredentials.ClientKey" placeholder="ck_a1b2c3d4e5f6..." required />
                                            </div>

                                            <div class="form-group">
                                                <label>Clave Secreta</label>
                                                <input class="form-control" type="text" asp-for="HostCredentials.ClientSecret" placeholder="cs_a1b2c3d4e5f6..." autocomplete="off" required />
                                            </div>

                                            <div class="form-group">
                                                <label>Dirección de WooCommerce</label>
                                                <input class="form-control" type="url" asp-for="HostCredentials.ApiUrl" placeholder="https://example-user-page.hostingersite.com/wp-json/wc/v2" required />
                                            </div>

                                            <div class="form-group">
                                                <label>Bearer Token</label>
                                                <input class="form-control" type="text" asp-for="HostCredentials.TokenEndpoint" placeholder="ab1C0s2Es564Sw45sas84523..." required />
                                            </div>
                                        </div>
                                    </form>
                                    <!-- FIN FORMULARIO -->
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <button id="saveChangesBtn" class="btn btn-app bg-gradient-info" form="configForm" type="submit" disabled>
                                <i class="fas fa-check"></i> Aplicar Cambios
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
