@{
    ViewData["Title"] = "Iniciar Sesión";
}

<!DOCTYPE html>
<html lang="es">
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>Aspire </b>POS</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Inicie sesión para comenzar</p>

                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Usuario">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="social-auth-links text-center mt-2 mb-3">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-block btn-danger">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                        <a href="@Url.Action("ConfigureKeys", "Login")">Configurar Direcciones y Claves</a>
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</body>
</html>
