@model LoginViewModel
@{
    ViewData["Title"] = "Iniciar Sesión";
}

<!DOCTYPE html>
<html lang="es">
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>Aspire </b>POS</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Inicie sesión para comenzar</p>

                <form asp-action="Login" asp-controller="Login" method="post">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="UserName" class="form-control" placeholder="Usuario">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>

                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input asp-for="RememberMe" type="checkbox"> Recordarme
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                </form>

                <div class="social-auth-links text-center mt-2 mb-3">
                    <a href="@Url.Action("ConfigureKeys", "Login")">Configurar Direcciones y Claves</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
